{% extends 'base.html' %}

{% block title %}
Upload EXCEL | CertGen | MLXTREME
{% endblock %}

{% block maincontent %}
<!-- Header -->
<header id="header">
    <h1>Upload EXCEL File :</h1>
    <p>Upload the template EXCEL File for Generating the Certificates.</p>
    <h5>Or <a href="/download/Sample.xlsx" target="_blank">Download a Sample EXCEL Template</a> .</h5>

</header>
<br />
<!--TODO Good Example Bad Example-->
<form action="/uploadexcelsuccess" method="POST" enctype="multipart/form-data">
    <input type="file" name="ExcelFile" />
    <input type="submit" />
</form>
{% endblock %}
